.Rproj.user
archive/
data/GSWP3_forcing_skjellingahaugen/
data/VCG/
data/VCG_OSF/
data/LSPv1_default_inputfiles
data/surfacedata
data/archive/
data/ALP4/
data/ALP4_cosmorea/
data/ALP4_cosmorea_noleap/
data/ALP4_cosmorea_gregorian/
data/ALP4_cosmorea_warmed_alldays/
data/ALP4_cosmorea_warmed
data/ALP4_cosmorea_warmed_defaultsurfacetest
data_processed
cases/
resources/
results/
writing/
src/archive/
src/.Rdata
src/.Rhistory
src/FATES_INCLINE.Rproj
src/simulation_setup/archive
